<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essentia Pharma - Orçamento Smart</title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="stylesheet" href="/styles/css/header.css">
    <link rel="stylesheet" href="/styles/css/form.css">
    <link rel="stylesheet" href="/styles/css/table.css">
    <link rel="stylesheet" href="/styles/css/total.css">
</head>

<body id="orcamento-page">
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <img id="logo-essential" src="/styles/Logo Essential.svg">
                <span class="header__title">ESSENTIA PHARMA</span>
            </div>
            <h1 class="header__subtitle">ORÇAMENTO SMART ESSENTIA PHARMA</h1>
        </header>
        <div class="customer-form">
            <div class="form-group">
                <label for="nome-cliente">Nome Cliente:</label>
                <input disabled="true" type="text" id="nome-cliente" name="nome-cliente"
                    value="<%= orcamentos_edited.orcamentos_edited[0].nomeCliente %>">
            </div>
            <div class="form-group">
                <label for="nome-medico">Nome Médico:</label>
                <input disabled="true" type="text" id="nome-medico" name="nome-medico"
                    value="<%= orcamentos_edited.orcamentos_edited[0].nomeMedico %>">
            </div>
        </div>
        <div class="budget-table">
            <% orcamentos_edited.orcamentos_edited.forEach(function(orcamento, indexOrcamento) { %>
                <div class="table-container" id="orcamento-<%= indexOrcamento %>">
                    <h2 id="nome-formula" class="table-title" style="margin-top: 1.5rem;">
                        <%= orcamento.nomeFormula %>
                    </h2>
                    <table>
                        <tbody>
                            <tr>
                                <td class="line1 right-line">Quantidade: <span id="quantidade-orcamento">
                                        <%= formatNumber(orcamento.dosagem) %>
                                    </span>
                                </td>
                                <td class="line1 right-line">Forma Farmacêutica: <span id="forma-farmaceutica">
                                        <%= orcamento.formaFarmaceutica %>
                                    </span>
                                </td>
                                <td class="line1">Forma Farmacêutica (Subgrupo): <span id="forma-farmaceutica-subgrupo">
                                        <%= orcamento.formaFarmaceuticaSubgrupo %>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Main Table with Dynamic Rows -->
                    <table>
                        <thead>
                            <tr class="table-title">
                                <th class="line1 right-line" style="width: 604px;">Ativo Puro</th>
                                <th class="line1 right-line" style="width: 180px; text-align: center;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px; text-align: center;">Quantidade</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orcamento.ativos.forEach(function(ativo, rowIndex) { %>
                                <tr id="ativo">
                                    <td class=" right-line text line<%= (rowIndex%2)+1 %>" name="ativo-puro"
                                        id="ativo-puro-<%= rowIndex %>">
                                        <%= ativo.opcoes[0].nome %>
                                    </td>
                                    <td class=" right-line text line<%= (rowIndex%2)+1 %>" style="text-align: center;"
                                        id="ativo-unidade-<%= rowIndex %>">
                                        <%= ativo.unidade %>
                                    </td>
                                    <td class="number right-line line<%= (rowIndex%2)+1 %>" style="text-align: center;"
                                        id="ativo-quantidade-<%= rowIndex %>">
                                        <%= formatNumber(ativo.quantidade) %>
                                    </td>
                                    <td class="price-table-value line<%= (rowIndex%2)+1 %>"
                                        id="preco-ativo-<%= rowIndex %>" class="price-column">
                                        <%= ativo.opcoes[0].preco !=='-' ? `R$ ${formatNumber(ativo.opcoes[0].preco,
                                            true)}` : ativo.opcoes[0].preco %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <!-- Packaging Information -->
                    <table>
                        <thead>
                            <tr class="header-row">
                                <th class="line1 right-line" style="width: 604px;">Embalagem</th>
                                <th class="line1 right-line" style="width: 330px; text-align: center;">Nº Embalagens
                                </th>
                                <th class="line1 price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="embalagem">
                                <td class="right-line line1" id="embalagem-nome">
                                    <%= orcamento.embalagem.nome %>
                                </td>
                                <td class="line1 right-line" style="text-align: center;" id="embalagem-quantidade">
                                    <%= formatNumber(orcamento.embalagem.quantidade) %>
                                </td>
                                <td id="preco-embalagem" class="price-table-value line1">R$ <%=
                                        formatNumber(orcamento.embalagem.preco) %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Additional Details -->
                    <table>
                        <thead>
                            <tr>
                                <th class="line1 right-line" style="width: 604px;">Excipiente</th>
                                <th class="line1 right-line" style="width: 180px; text-align: center;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px; text-align: center;">Quantidade</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="excipiente">
                                <td class="line1 right-line" id="excipiente-nome">
                                    <%= orcamento.excipiente.nome %>
                                </td>
                                <td class="line1 right-line" style="text-align: center;" id="excipiente-unidade">
                                    <%= orcamento.excipiente.unidade %>
                                </td>
                                <td class="number line1 right-line" style="text-align: center;"
                                    id="excipiente-quantidade">
                                    <%= formatNumber(orcamento.excipiente.quantidade) %>
                                </td>
                                <td id="preco-excipiente" class="line1 price-table-value">R$ <%=
                                        formatNumber(orcamento.excipiente.preco) %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Capsule Information -->
                    <table>
                        <thead>
                            <tr>
                                <th class="line1 right-line" style="width: 304px;">Tipo Cápsula</th>
                                <th class="line1 right-line" style="width: 300px; text-align: center;">Cápsula</th>
                                <th class="line1 right-line" style="width: 180px; text-align: center;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px; text-align: center;">Quantidade</th>
                                <th class="line1 right-line" style="text-align: center;">Contém</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="capsula">
                                <% orcamento.capsulas.forEach(function(capsula, index) { %>
                                    <td class="line1 right-line" id="capsula-tipo" name="capsula-tipo">
                                        <%= capsula.tipo %>
                                    </td>
                                    <td class="line1 right-line" style="text-align: center;">
                                        <select id="capsula-nome" name="capsula-nome">
                                            <option value="<%= capsula.nome %>" <%=index===0 ? 'selected' : '' %>>
                                                <%= capsula.nome %>
                                            </option>
                                        </select>
                                    </td>
                                    <td class="line1 right-line" style="text-align: center;" id="capsula-unidade"
                                        name="capsula-unidade">
                                        UN
                                    </td>
                                    <td class="line1 number right-line" id="capsula-quantidade"
                                        style="text-align: center;" id="capsula-quantidade" name="capsula-quantidade">
                                        <%= formatNumber(capsula.quantidade) %>
                                    </td>
                                    <td class="line1 number right-line" id="capsula-contem" style="text-align: center;"
                                        name="capsula-contem">
                                        <%= formatNumber(capsula.contem) %>
                                    </td>
                                    <td id="preco-capsula" class="line1 price-table-value">R$ <%=
                                            formatNumber(capsula.preco) %>
                                    </td>
                                    <% }) %>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Totals -->
                    <div class="total-section">
                        <div class="total-row">
                            <span>Custo Fixo</span>
                            <span id="preco-custo-fixo" class="number">R$ <%= formatNumber(orcamento.custoFixo) %>
                            </span>
                        </div>
                        <div class="total-row">
                            <span>Total</span>
                            <span id="total-preco" class="number">R$ 0,00</span>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <div class="button-container">
                        <button id="edit_orcamento" class="submit-button">EDITAR</button>
                    </div>
                    <!-- <div class="button-container">
                        <button id="save_orcamento" class="submit-button">GERAR PDF</button>
                    </div> -->
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
        <script src="/scripts/orcamento.js"></script>
        <script src="/scripts/utils.js"></script>
</body>

</html>