<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento</title>
    <link rel="stylesheet" href="/styles/orcamento.css">
</head>

<body>

    <div class="table-container">
        <!-- Header Information -->
        <table>
            <tr>
                <td>Nome Cliente: <%= nomeCliente %>
                </td>
                <td>Nome Médico: <%= nomeMedico %>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Quantidade: <%= quantidade %>
                </td>
                <td>Forma Farmacêutica: <%= formaFarmaceutica %>
                </td>
                <td>Forma Farmacêutica (Subgrupo): <%= formaFarmaceuticaSubgrupo %>
                </td>
            </tr>
        </table>

        <!-- Main Table with Dynamic Rows -->
        <table>
            <thead>
                <tr class="header-row">
                    <th>Ativo Puro</th>
                    <th>Unidade</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <% ativos.forEach(function(ativo, rowIndex) { %>
                    <tr>
                        <td>
                            <!-- Dropdown for Ativo Puro -->
                            <select name="ativoPuro" id="ativoPuro-<%= rowIndex %>"
                                onchange='handleAtivoChange("<%= rowIndex %>")'>
                                <% ativo.opcoes.forEach(function(opcao) { %>
                                    <option value="<%= opcao.nome %>" data-preco="<%= opcao.preco %>">
                                        <%= opcao.nome || "Selecione" %>
                                    </option>
                                    <% }) %>
                            </select>
                        </td>
                        <td id="quantidade-<%= rowIndex %>">
                            <%= ativo.quantidade %>
                        <td id="unidade-<%= rowIndex %>">
                            <%= ativo.unidade %>
                        </td>
                        </td>
                        <td id="preco-<%= rowIndex %>" class="price-column">
                            <%= ativo.opcoes[0].preco !=='-' ? `R$${parseFloat(ativo.opcoes[0].preco).toFixed(2)}` :
                                ativo.opcoes[0].preco %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <!-- Packaging Information -->
        <table>
            <thead>
                <tr class="header-row">
                    <th>Embalagem</th>
                    <th>Unidade</th>
                    <th>Nº Potes</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= embalagem.tipo %>
                    </td>
                    <td>
                        <%= embalagem.unidade %>
                    </td>
                    <td>
                        <%= embalagem.quantidade %>
                    </td>
                    <td id="preco-embalagem" class="price-column">R$<%= embalagem.preco.toFixed(2) %>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Additional Details -->
        <table>
            <thead>
                <tr>
                    <th>Excipiente</th>
                    <th>Unidade</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= excipiente.nome %>
                    </td>
                    <td>
                        <%= excipiente.unidade %>
                    </td>
                    <td>
                        <%= excipiente.quantidade %>
                    </td>
                    <td id="preco-excipiente" class="price-column">R$<%= excipiente.preco.toFixed(2) %>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Capsule Information -->
        <table>
            <thead>
                <tr>
                    <th>Tipo Cápsula</th>
                    <th>Cápsula</th>
                    <th>Unidade</th>
                    <th>Quantidade</th>
                    <th>Contém</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="capsula-tipo" name="capsula-tipo">
                        <%= capsula.tipo %>
                    </td>
                    <td id="capsula-nome" name="capsula-nome">
                        <%= capsula.nome %>
                    </td>
                    <td id="capsula-quantidade" name="capsula-quantidade">
                        <%= capsula.quantidade %>
                    </td>
                    <td id="capsula-unidade" name="capsula-unidade">
                        <%= capsula.unidade %>
                    </td>
                    <td id="capsula-contem" name="capsula-contem">
                        <%= capsula.contem %>
                    </td>
                    <td id="preco-capsula" class="price-column">R$<%= capsula.preco.toFixed(2) %>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Totals -->
        <table>
            <tr class="total-row">
                <td colspan="3">Custo Fixo</td>
                <td id="preco-custo-fixo" class="price-column">R$<%= custoFixo.toFixed(2) %>
                </td>
            </tr>
            <tr class="total-row">
                <td colspan="3">Total</td>
                <td id="total-preco" class="price-column">R$0.00</td>
            </tr>
        </table>
        <a href="/orcamento/edit">
            <button type="button" id="edit-button" class="upload-button">Editar</button>
        </a>
    </div>

    <script src="/scripts/orcamento.js"></script>
</body>

</html>