<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essentia Pharma - Orçamento Smart</title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="stylesheet" href="/styles/css/header.css">
    <link rel="stylesheet" href="/styles/css/form.css">
    <link rel="stylesheet" href="/styles/css/table.css">
    <link rel="stylesheet" href="/styles/css/total.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <img src="/styles/Logo Essential.svg">
                <span class="header__title">ESSENTIA PHARMA</span>
            </div>
            <h1 class="header__subtitle">ORÇAMENTO SMART ESSENTIA PHARMA</h1>
        </header>
        <form class="customer-form" id="customerForm">
            <div class="form-group">
                <label for="nome-cliente">Nome Cliente:</label>
                <input type="text" id="nome-cliente" name="nome-cliente"
                    value="<%= orcamentos_edited.orcamentos_edited[0].nomeCliente %>">
            </div>
            <div class="form-group">
                <label for="nome-medico">Nome Médico:</label>
                <input type="text" id="nome-medico" name="nome-medico"
                    value="<%= orcamentos_edited.orcamentos_edited[0].nomeMedico %>">
            </div>
        </form>
        <div class="budget-table">
            <% orcamentos_edited.orcamentos_edited.forEach(function(orcamento, indexOrcamento) { %>
                <h2 id="nome-formula" class="table-title" style="margin-top: 1.5rem;">
                    <%= orcamento.nomeFormula %>
                </h2>
                <div class="table-container" id="orcamento-<%= indexOrcamento %>">
                    <table>
                        <tbody>
                            <tr>
                                <td class="required line1 right-line">Quantidade
                                    <input id="quantidade-orcamento" type="text"
                                        value="<%= formatNumber(orcamento.dosagem) %>" size="10" />
                                </td>
                                <td class="required line1 right-line">Forma Farmacêutica
                                    <select id="forma-farmaceutica" name="forma-farmaceutica"
                                        onchange="updateSubgrupoDropdown()">
                                        <% orcamento.formaFarmaceuticaAll.forEach(function(forma, index) { %>
                                            <option value="<%= forma %>" <%=index===0 ? 'selected' : '' %>>
                                                <%= forma %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </td>
                                <td class="required line1">Forma Farmacêutica (Subgrupo)
                                    <select id="forma-farmaceutica-subgrupo" name="forma-farmaceutica-subgrupo">
                                        <% orcamento.formaFarmaceuticaSubgrupoAll[orcamento.formaFarmaceuticaAll[0]].forEach(function(subgrupo,
                                            index) { %>
                                            <option value="<%= subgrupo %>" <%=index===0 ? 'selected' : '' %>>
                                                <%= subgrupo %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Main Table with Dynamic Rows -->
                    <table>
                        <thead class="table-title">
                            <tr class="header-row">
                                <th class="line1 right-line" style="width: 604px;">Ativo Puro</th>
                                <th class="line1 right-line" style="width: 180px;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px;">Quantidade</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orcamento.ativos.forEach(function(ativo, rowIndex) { %>
                                <tr id="ativo">
                                    <td class="required right-line text line<%= (rowIndex%2)+1 %>">
                                        <select name="ativoPuro" id="ativoPuro-<%= rowIndex %>">
                                            <% ativo.opcoes.forEach(function(opcao) { %>
                                                <option value="<%= opcao.nome %>" data-preco="<%= opcao.preco %>">
                                                    <%= opcao.nome || "Selecione" %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </td>
                                    <td class="required right-line text line<%= (rowIndex%2)+1 %>">
                                        <select id="ativo-unidade" name="ativo-unidade-<%= rowIndex %>">
                                            <% orcamento.unidades.ativos[rowIndex].forEach(function(unidade) { %>
                                                <option value="<%= unidade %>">
                                                    <%= unidade %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </td>
                                    <td class="number right-line required line<%= (rowIndex%2)+1 %>"
                                        id="ativo-quantidade-<%= rowIndex %>">
                                        <input id="ativo-quantidade" type="text"
                                            value="<%= formatNumber(ativo.quantidade) %>" size="8" />
                                    </td>
                                    <td id="preco-ativo-<%= rowIndex %>"
                                        class="price-table-value line<%= (rowIndex%2)+1 %>">
                                        <%= ativo.opcoes[0].preco !=='-' ? `R$ ${formatNumber(ativo.opcoes[0].preco,
                                            true)}` : ativo.opcoes[0].preco %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <!-- Packaging Information -->
                    <table>
                        <thead>
                            <tr class="header-row">
                                <th class="line1 right-line" style="width: 604px;">Embalagem</th>
                                <th class="line1 right-line" style="width: 330px; text-align: center;">Nº Embalagens
                                </th>
                                <th class="line1 price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="embalagem">
                                <td class="required right-line line1">
                                    <datalist name="embalagens" id="embalagens">
                                        <% orcamento.embalagens.forEach(function(embalagem) { %>
                                            <option value="<%= embalagem %>">
                                                <%= embalagem %>
                                            </option>
                                            <% }) %>
                                    </datalist>
                                    <input id="embalagem-nome" autoComplete="on" list="embalagens"
                                        value="<%= orcamento.embalagem.nome %>" />
                                </td>
                                <td class="required line1 right-line" style="text-align: center;">
                                    <input class="number" id="embalagem-quantidade" type="text"
                                        value="<%= formatNumber(orcamento.embalagem.quantidade) %>" />
                                </td>
                                <td id="preco-embalagem" class="price-table-value line1">
                                    <%= orcamento.embalagem.preco !=='-' ? `R$ ${formatNumber(orcamento.embalagem.preco,
                                        true)}` : orcamento.embalagem.preco %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Additional Details -->
                    <table>
                        <thead>
                            <tr>
                                <th class="line1 right-line" style="width: 604px;">Excipiente</th>
                                <th class="line1 right-line" style="width: 180px; text-align: center;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px; text-align: center;">Quantidade</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="excipiente">
                                <td class="line1 right-line">
                                    <datalist name="excipientes" id="excipientes">
                                        <% orcamento.excipientes.forEach(function(excipiente) { %>
                                            <option value="<%= excipiente %>">
                                                <%= excipiente %>
                                            </option>
                                            <% }) %>
                                    </datalist>
                                    <input id="excipiente-nome" autoComplete="on" list="excipientes"
                                        value="<%= orcamento.excipiente.nome %>" />
                                </td>
                                <td class="line1 right-line" id="excipiente-unidade" style="text-align: center;">
                                    <%= orcamento.excipiente.unidade %>
                                </td>
                                <td class="number line1 right-line" id="excipiente-quantidade"
                                    style="text-align: center;">
                                    <%= formatNumber(orcamento.excipiente.quantidade) %>
                                </td>
                                <td id="preco-excipiente" class="line1 price-table-value">
                                    <%= orcamento.excipiente.preco !=='-' ? `R$
                                        ${formatNumber(orcamento.excipiente.preco, true)}` : orcamento.excipiente.preco
                                        %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Capsule Information -->
                    <table>
                        <thead>
                            <tr>
                                <th class="line1 right-line" style="width: 304px;">Tipo Cápsula</th>
                                <th class="line1 right-line" style="width: 300px; text-align: center;">Cápsula</th>
                                <th class="line1 right-line" style="width: 180px; text-align: center;">Unidade</th>
                                <th class="line1 right-line" style="width: 150px; text-align: center;">Quantidade</th>
                                <th class="line1 right-line" style="text-align: center;">Contém</th>
                                <th class="price-table-title">Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="capsula">
                                <td class="required line1 right-line">
                                    <select id="capsula-tipo" name="capsula-tipo" onchange="updateCapsulaDropdown()">
                                        <% orcamento.tipoCapsulas.forEach(function(tipo, index) { %>
                                            <option value="<%= tipo %>" <%=index===0 ? 'selected' : '' %>>
                                                <%= tipo %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </td>
                                <td class="line1 right-line" style="text-align: center;">-</td>
                                <td class="line1 right-line" style="text-align: center;">
                                    <select id="capsula-unidade" name="capsula-unidade">
                                        <% orcamento.unidades.capsula.forEach(function(unidade) { %>
                                            <option value="<%= unidade %>">
                                                <%= unidade %>
                                            </option>
                                            <% }) %>
                                    </select>
                                <td class="line1 number right-line" id="capsula-quantidade" style="text-align: center;">
                                    <%= formatNumber(orcamento.capsula.quantidade) %>
                                </td>
                                <td class="line1 number right-line" id="capsula-contem" name="capsula-contem"
                                    style="text-align: center;">
                                    <%= formatNumber(orcamento.capsula.contem) %>
                                </td>
                                <td id="preco-capsula" class="line1 price-table-value">
                                    <%= orcamento.capsula.preco !=='-' ? `R$ ${formatNumber(orcamento.capsula.preco)}` :
                                        orcamento.capsula.preco %>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Totals -->
                    <div class="total-section">
                        <div class="total-row">
                            <span>Custo Fixo</span>
                            <span class="number">R$ <%= formatNumber(orcamento.custoFixo) %>
                            </span>
                        </div>
                        <div class="total-row">
                            <span>Total</span>
                            <span id="total-preco" class="number">R$ 0,00</span>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <div class="button-container">
                        <button id="submit_orcamento" class="submit-button">SALVAR</button>
                    </div>
        </div>
    </div>
    <script>
        const formaFarmaceuticaSubgrupoAll = '<%- JSON.stringify(orcamentos_edited.orcamentos_edited[0].formaFarmaceuticaSubgrupoAll) %>';
        <% var allAtivos = [] %>;
        <% orcamentos_edited.orcamentos_edited.forEach((orcamento) => { %>
            <% var ativos = [] %>;
            <% orcamento.ativos.forEach((ativo) => { %>
                <% ativos.push(ativo.opcoes) %>;
                <% }) %>;
                <% allAtivos.push(ativos) %>;
        <% }) %>;
        const ativosOrcamento = '<%- JSON.stringify(allAtivos) %>';
    </script>
    <script src="/scripts/orcamento_edited.js"></script>
    <script src="/scripts/utils.js"></script>
</body>

</html>